*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar .max-width{
    background:chartreuse;
    position: fixed;
    width: 100%;
    margin-top: -16px;
    padding: 18px 0;
    font-family:'Times New Roman', Times, serif;
    transition: all 0.3s ease;
    padding-left: 70px;
    z-index: 999;
}


/* .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
} */
/* .navbar{
    background:crimson;
    position: fixed;
    z-index: 999;
    padding: 15px 0;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    transition: all 0.3s ease;
} */
.navbar.sticky{
    background:chartreuse;
    padding: 15px 0;
}
.navbar .col-sm-4 a span.sticky{
    color: #111;
    
}

.navbar .col-sm-4 a{
    color: darkblue;
    font-size: 35px;
    font-weight: 600;
}
.navbar .col-sm-4 span{
    color: gold;
}
.navbar .menu li{
    display: inline-block;
    list-style:none;
}
.navbar .menu li a{
    color: #fff;
    margin-left:25px;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: black;
}
.navbar .max-width{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.col-sm-2{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* navbar css ends */
.home{
    display: flex;
    background: url("asset/IMG_20221007_191407_297.jpg") no-repeat right;
    height:80vh; 
    min-height: 500px;
    font-family: 'Times New Roman', Times, serif;
    /* width: 1200px; */
    padding: 110px 0;
}
.home .max-width{
   margin-left:70px;
}
.home .col-sm-12{
    padding-bottom: 50px;
   
    
}
.home .col-sm-12 .text-1{
    font-size: 25px;

}
.home .col-sm-12 .text-2{
    font-size: 55px;
    font-weight: 500;
    font-style:oblique;
    margin-left: -3px;
}
.home .col-sm-12 .text-3{
    font-size: 35px;
    font-weight: 200;
    margin: 5px 0;
}
.home .col-sm-12 .text-3 span{
    color: crimson;
    font-weight: 500;
    font-style: italic; 
}
.home .col-sm-12 a{
    /* background-color: red; */
    margin-left: 200px;
    margin-top: 50px;
    font-size: 25px;
    /* background-color:crimson; */
    background-color: blue;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.home .col-sm-12 a:hover{
    color:#111
    
   
}
/* .home .home-content .image-1{
    width: 100px;
    height: 50vh;
} */
.side .image{
    height: 40vh;
    padding-left: 5px;
    padding-right: 400px;
    padding-top: 100px;
    
}
/* make responsive website */
/* @media(max-width:947px){
    .max-width{
        padding: 0 50px;
    } 
    .col-sm-2{
       display: block;
       z-index:99;
    }
    .col-sm-2 i.active::before{
        content: "\f00d";  
    }
    .navbar .menu{
        height: 100vh;
        width: 100%;
        left:0;
        right: 0;
        background: #111; 
       text-align: center;
       padding-top: 100px;
       transition: all 0.3s ease;
       position:fixed;
    } 
    .navbar .menu.active{
        left:0;
    }
    .navbar .menu li{
        display: block;
    }   
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 23px;
    } 
} */
/* about section css :start */
/* section{
    padding: 110px 0;
    border-top: 2px solid;
} */
section .title{
    position: relative;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 50px;
    padding-bottom: 5px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 2px;
    background: #fff;
    transform:translateX(-50%);

}
.about{
    border-top: 2px solid;
    padding: 130px 0;
}
.about h2{
    margin-top: -50px;

}
.about .title::after{
    content: " Who i am";
}
/* .about .col-sm-12{
    display: flex;
} */
.about .col-sm-12 img{
    width: 300px;
    height: 300px;
    object-fit:cover;
    margin-left: 90px;
    margin-top: -50px;
}
.about .col-sm-12 .col-sm-8{
       margin-top: -330px;
       padding-left: 350px;
}
.about .col-sm-12 .col-sm-8 .text{
    font-size: 26px;
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 320px;
    margin-left: -300px;
    padding-right: 50px;
    padding-right: 50px;

}
.about .col-sm-12 .col-sm-8 span{
    color: crimson;
    font-size: 25px;
}
.about .col-sm-12 .col-sm-8 p{
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: -300px;
    padding-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about .col-sm-12 .col-sm-8 a{
    margin-top: 80px;
    margin-right: 30px;
    border-radius: 5px;
    background-color: crimson;
    padding: 10px 20px 20px 10px;
    color: #fff;
    margin-left: -180px;
}
/* service css :start */
.service{
   margin-top: 220px;
    padding-top: 70px;
    border-top: gainsboro 2px solid;

    /* background:#111; */
    /* color: #fff; */
}
.service h2{
    font-size: 34px;
    padding-bottom: 10px;
}
.service .title::before{
    /* background: #fff; */
}
.service .title::after{
   background: #fff;
    content: "what is provide";
}
.service .col-sm-12{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.service .col-sm-12 .col-sm-4{
    width:calc(33% - 22px);
    background: #fff;
    text-align: center;
    cursor: pointer;
    border: gainsboro 4px solid;
    margin-left: 20px;
}
.service .col-sm-12 .col-sm-4 i{
    color: crimson;
    font-size: 50px;
}
.service .col-sm-12 .col-sm-4 .text{
    font-size: 25px;
    font-weight: 500px;
    margin: 10px 0 7px 10px;
    transform: scale(1.05);
    margin-bottom: 50px;

    /*                      this means
    margin-top: 10px;
    margin-right:0px;
    margin-bottom: 7px;
    margin-left: 10px; */
}
.service .col-sm-12 .col-sm-4 .box{
    transition: all 0.3s ease;
    font-size: 15.6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.service .col-sm-12 .col-sm-4:hover .box{
    transform: scale(1.05);
   background: #fff;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.service .col-sm-12 .col-sm-4:hover i{
    color: aqua;
    transition: all 0.3s ease;
}

/* skill section css start */

.skill{
    margin-top:400px;
    padding-top: 70px;
    border-top: gainsboro 2px solid;
    padding-bottom: 1100px;
}
.skill h2{
    font-size: 28px;
    padding-bottom: 12px;
    /* margin-top: -50px; */
}
.skill .title::after{
    content: "what is know";
}
.skill .col-sm-12 .text{
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-left: 50px;
}
.skill .col-sm-12 p{
    padding-right: 50px;
    font-size: 18.5px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding-right: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.skill .col-sm-12 .col-sm-4{
    width: calc(50% - 10px);
}
.skill .col-sm-12 .col-sm-4 a{
    margin-top: 15px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 5px;
    background: crimson;
    color: #fff;
    font-size: 20px;
    margin-left: 50px;
    /* padding-right: 10px; */
}
.skill .col-sm-12 .col-sm-4 a:hover{
    color:black;
}
.skill .col-sm-12{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.skill .col-sm-12 .col-sm-4 .info{
    margin-top: 25px;
    margin-bottom: -7px;
    font-size: 16px;
    font-weight: 500;
    padding-right: 180px;
    /* padding-left: 10px; */
    padding-top: 10px;


}
.skill .col-sm-12 .col-sm-4 .bars .info .each-skill{
    /* padding-top: -100px; */
}
 .skill .col-sm-12 .col-sm-4 .percent{
    margin-left: 420px;

    
 }
 .skill .col-sm-12 .col-sm-4 .line{
    height:5px;
    width: 80%;
    background: lightgray;
    position: relative;
    margin-right: 200px;
 }
 .skill .col-sm-12 .col-sm-4 .line::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    background: crimson;
    

 }
 .skill .col-sm-12 .col-sm-4 .html::before{
    width: 80%;
 }
 .skill .col-sm-12 .col-sm-4 .css::before{
    width: 77%
 }
 .skill .col-sm-12 .col-sm-4 .laravel::before{
    width: 75%
 }
 .skill .col-sm-12 .col-sm-4 .mysql::before{
    width: 75%
 }
 .skill .col-sm-12 .col-sm-4 .php::before{
    width: 75%
 }
 .skill .col-sm-12 .col-sm-4 .figma::before{
    width: 60%
 }
 .skill .col-sm-12 .col-sm-4 .js::before{
    width: 60%
 }
 .skill .col-sm-12 .col-sm-4 .react::before{
    width: 60%
 }
 .skill .col-sm-12 .col-sm-4 .python::before{
    width: 40%
 }
 .skill .col-sm-12 .col-sm-4 .flutter::before{
    width: 20%
 }
/* teams section css :start */
.teams h2{
    font-size: 31px;
    padding-bottom: 12px;
    margin-top: -50px;
}
.teams .title::after{
    content: "who with me";
}
.teams .carosel .col-sm-4 .image{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid crimson;
}

/* contact me section css */
.contact{
    border-top: black 2px solid;
    padding-top: 50px;
    margin-bottom: 900px;
}
.contact h2{
    font-size: 31px;
    padding-bottom: 12px;
}
.contact .title::after{
    content: "Get in touch";
}
.contact .col-sm-4 .text{
    font-size: 23px;
    font-weight: 500;
    margin-left: 50px;
}
.contact .col-sm-4 p{
    padding-left: 50px;
    margin-right: -100px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact .col-sm-12 .col-sm-4 .row{
    display: flex;
    padding: 10px;
   
}
.contact .col-sm-12 .col-sm-4 .icon i{
  padding-right: 20px;
  padding-top: 20px;
  color: black;
  font-weight: 500;
  padding-left: 70px;
  
}
.contact .col-sm-12 .col-sm-4 .row .info .form, .contact .col-sm-12 .col-sm-4 .row .info .urform{
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact .col-sm-12{
    display: flex;
}
.contact .col-sm-12 .col-sm-6 .text{
    font-size: 21px;
    font-weight: 500;
    margin-left: 250px;
    margin-top: 20px;
    color: #111;
    padding-bottom: 17px;
    padding-left: 20px;
    background: blueviolet;
}
.contact .col-sm-12 .col-sm-6 form{
    margin-left: 250px;

}
.contact .col-sm-12 .col-sm-6 .filed{
    padding-bottom: 10px;
}
.contact .col-sm-12 .col-sm-6 .filed input{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 60px;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.contact .col-sm-12 .col-sm-6 .filed-subject input{
    padding-right: 150px;
}
.contact .col-sm-12 .col-sm-6 .filed textarea{
    font-size: 16px;
    color: #111;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-right: 100px;
    border-radius: 5px;

}
.contact .col-sm-12 .col-sm-6 .filed button{
    font-size: 16px;
    color: #111;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: chartreuse;
    border-radius: 5px;
    margin-top: 7px;
    margin-left: 20px;
    padding: 10px;
}
.contact .col-sm-12 .col-sm-6 .filed-name{
    padding-bottom: 10px;
    margin-top: 20px;
}
.contact .col-sm-12 .col-sm-6 .filed-email{
    padding-bottom: 20px;
}
.contact .col-sm-12 .col-sm-6 .filed-subject{
    padding-bottom: 20px;
}
.contact .col-sm-12 .col-sm-6 .filed-textarea{
    padding-bottom: 20px;
}
.footer{
    background: #222;
    margin-left: 200px;
    padding: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;


}
.footer a{
    color:chartreuse
}
